*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main {
    width: 70vw;
    height: 40vh;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background-color: #394053;
    margin: 2rem;
}
.container {
    height: 200px;
    width: 200px;
    border: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    padding: .5rem;
    background-color: #6e6362;
    border-color: #4e4a59;
    color: #7cae7a;
}
.separator {
    height: 200px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: white;
}
